.features {
    display: flex;
    justify-content: space-around;
    background-color: #fafafa;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 15px 10px;
    flex-wrap: wrap;
    gap: 15px;
}

.featureItem {
    font-size: 13px;
    color: #444;
    display: flex;
    align-items: center;
    gap: 5px;
}